# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/vkEngine
/vkEngine/vendor/GLFW/include/GLFW/glfw3.h
/vkEngine/vendor/GLFW/include/GLFW/glfw3native.h
/vkEngine/x64/Debug
